<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{loginform.title}">Вход</title>
    <meta charset="UTF-8"/>
    <link href="../../resources/css/main.css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>
<body>

<div id="login-form">
    <label th:if="${error!=null}" th:text="${error}">Ошибка входа</label>
    <form action="#" method="post" name="login_form" th:action="@{/login}">

        <label th:text="#{loginform.field.login}">Логин</label>
        <label><input class="element" name="login" type="text" value=""/>
        </label>

        <label th:text="#{loginform.field.password}">Пароль</label>
        <label> <input class="element" name="password" type="password" value=""/></label>

        <input id="login-submit" name="submit" th:value="#{login.field.submit}" type="submit" value="Вход"/>

    </form>
</div>
</body>
</html>
