<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<p th:if="${error!=null}" th:text="${error}"></p>
<form method="post" name="login_form" th:action="@{/login}">
    <label>
        <input name="login" type="text" value=""/>
    </label>
    <label>
        <input name="password" type="password" value=""/>
    </label>
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <input name="submit" type="submit" value="login"/>
</form>
</body>
</html>
